<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Create new tour</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<div th:replace="fragments/header :: header"></div>

<form class="form-signin" method="post" th:action="@{/dashboard/update/{id}(id=${tour.id})}" th:object="${tour}">
    <h1 class="h3 mb-3 font-weight-normal">Edit Tour</h1>
    <label for="title" class="sr-only">Title</label>
    <input type="text" id="title" th:field="*{title}" th:value="${tour.title}" class="form-control" placeholder="Title" required autofocus>
    <label for="inputPassword" class="sr-only">Description</label>
    <textarea id="desc" th:field="*{description}" th:value="${tour.description}" class="form-control">Description</textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ADD CONTENT</button>
</form>
</body>
</html>