<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>CRUD App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row" th:each="product : ${products}">
        <div class="col-md-4">
            <h2 th:text="${product.title}"></h2>
            <p><a class="btn" th:href="@{/content/{id}(id=${product.id})}">view content</a></p>
            <th:block sec:authorize="isAuthenticated()">
            <a th:href="@{/edit/{id}(id=${product.id})}" class="btn d-inline">edit</a>
            <form th:action="@{/delete/{id}(id=${product.id})}" method="post" class="d-inline">
                <button class="btn" type="submit" onclick="return confirm('are you sure?')">delete</button>
            </form>
            </th:block>
            <hr>
        </div>
    </div>
</div>

</body>
</html>